# Pandas Python Library

In [1]:
import pandas as pd

Pandas is based on two core fundamentals **DataFrames and Series**.

## Dataframe

A **DataFrame** it's basically a matrix of data elements. Each entry corresponds to a row and a column.

In [2]:
# We may use the pd.DataFrame() constructor in order to create DataFrame objects i.e.
pd.DataFrame({'Bob':['I liked it', 'It was awful.'], 'Sue':['Pretty good.', 'Product B']}, index=['Product A', 'Product B'])
# The Dictionary-list pair is used in order to assign a column/row pair, and the index flag is used to substitute
# the auto generated 0,1,2,.. index with a known one.

                     Bob           Sue
Product A     I liked it  Pretty good.
Product B  It was awful.     Product B

## Series

A **series** is basically a list, as opposed of a dataframe being a matrix.

In [3]:
#i.e.
pd.Series([30, 45, 40, 35], index=['2015 Data', '2016 Data', '2017 Data', '2018 Data'], name = 'Product A Records')
# The index and name flags may also be used in the same way in Series

2015 Data    30
2016 Data    45
2017 Data    40
2018 Data    35
Name: Product A Records, dtype: int64

In order to **read already existing Dataframes** the .read_csv() pandas method must be used.

In [4]:
main_data = pd.read_csv('Categorical.csv')

In [5]:
# The shape() method may be used to check the dataframe size.
main_data.shape

(241, 4)

In [6]:
main_data.head()
# Head is extremely used in order to take a first look at the data, a number may also be passed into the function to print more rows

          name  Longitude   Latitude      continent
0        Aruba -69.982677  12.520880  North America
1  Afghanistan  66.004734  33.835231           Asia
2       Angola  17.537368 -12.293361         Africa
3     Anguilla -63.064989  18.223959  North America
4      Albania  20.049834  41.142450         Europe

In [7]:
# To write a DataFrame into the disk the to_csv() method is utilized.
# i.e. main_data.to_csv("testing_write.csv") Saving main_data dataframe as testing write in the current directory

# Inserting, Selecting and Assigning

In [8]:
main_data

             name   Longitude   Latitude      continent
0           Aruba  -69.982677  12.520880  North America
1     Afghanistan   66.004734  33.835231           Asia
2          Angola   17.537368 -12.293361         Africa
3        Anguilla  -63.064989  18.223959  North America
4         Albania   20.049834  41.142450         Europe
..            ...         ...        ...            ...
236         Samoa -172.164851 -13.753243        Oceania
237         Yemen   47.586762  15.909280           Asia
238  South Africa   25.083901 -29.000341         Africa
239        Zambia   27.774759 -13.458242         Africa
240      Zimbabwe   29.851441 -19.004204         Africa

[241 rows x 4 columns]

In [9]:
# To access an attribute a simple selection can me made.
main_data.name

0             Aruba
1       Afghanistan
2            Angola
3          Anguilla
4           Albania
           ...
236           Samoa
237           Yemen
238    South Africa
239          Zambia
240        Zimbabwe
Name: name, Length: 241, dtype: object

In [10]:
# The same thing can be done with the Dictionary-Key built-in Python Function
main_data['name']

0             Aruba
1       Afghanistan
2            Angola
3          Anguilla
4           Albania
           ...
236           Samoa
237           Yemen
238    South Africa
239          Zambia
240        Zimbabwe
Name: name, Length: 241, dtype: object

In [11]:
main_data['name'][0]

'Aruba'

## Pandas Indexing

## Index-Based Selection

In [12]:
# Pandas has it's own index selection operators they're called loc and iloc. 
main_data.iloc[0] # To select the first row

name                 Aruba
Longitude       -69.982677
Latitude          12.52088
continent    North America
Name: 0, dtype: object

In [13]:
main_data.iloc[:,0] # To retrieve the full column

0             Aruba
1       Afghanistan
2            Angola
3          Anguilla
4           Albania
           ...
236           Samoa
237           Yemen
238    South Africa
239          Zambia
240        Zimbabwe
Name: name, Length: 241, dtype: object

## Label-based Selection

In [14]:
main_data.loc[0,'name']

'Aruba'

## Manipulating the index

In [15]:
# The index may always be manipulated, here the title column will be used.
main_data.set_index('name')

               Longitude   Latitude      continent
name
Aruba         -69.982677  12.520880  North America
Afghanistan    66.004734  33.835231           Asia
Angola         17.537368 -12.293361         Africa
Anguilla      -63.064989  18.223959  North America
Albania        20.049834  41.142450         Europe
...                  ...        ...            ...
Samoa        -172.164851 -13.753243        Oceania
Yemen          47.586762  15.909280           Asia
South Africa   25.083901 -29.000341         Africa
Zambia         27.774759 -13.458242         Africa
Zimbabwe       29.851441 -19.004204         Africa

[241 rows x 3 columns]

## Conditional Selection

In [16]:
# There's a way to check if a condition is met in pandas, by using a default python logic.
main_data.continent == "North America"

0       True
1      False
2      False
3       True
4      False
       ...
236    False
237    False
238    False
239    False
240    False
Name: continent, Length: 241, dtype: bool

In [17]:
# This feature may be used in a loc, to select true values.
main_data.loc[main_data.continent == 'North America']

                        name   Longitude   Latitude      continent
0                      Aruba  -69.982677  12.520880  North America
3                   Anguilla  -63.064989  18.223959  North America
14         Antigua and Barb.  -61.794693  17.277500  North America
25                    Canada  -98.307770  61.362063  North America
26                   Bahamas  -76.628430  24.290367  North America
28            St-BarthÃ©lemy  -62.840678  17.898805  North America
30                    Belize  -88.710105  17.200275  North America
31                   Bermuda  -64.754559  32.313678  North America
34                  Barbados  -59.559797  13.181454  North America
50                Costa Rica  -84.192088   9.976345  North America
51                      Cuba  -79.016054  21.622895  North America
52                  CuraÃ§ao  -68.971194  12.195517  North America
53                Cayman Is.  -80.912133  19.428965  North America
59                  Dominica  -61.357726  15.439470  North America
61            Dominican Rep.  -70.505689  18.894331  North America
85                   Grenada  -61.682202  12.117250  North America
86                 Greenland  -41.341911  74.710513  North America
87                 Guatemala  -90.364820  15.694037  North America
92                  Honduras  -86.615166  14.826882  North America
94                     Haiti  -72.685275  18.935026  North America
107                  Jamaica  -77.314826  18.156949  North America
117      St. Kitts and Nevis  -62.687553  17.264599  North America
125              Saint Lucia  -60.969699  13.894795  North America
133                St-Martin  -63.059729  18.088886  North America
139                   Mexico -102.523452  23.947537  North America
150               Montserrat  -62.185185  16.739414  North America
159                Nicaragua  -85.030530  12.847094  North America
168                   Panama  -80.119152   8.517508  North America
175              Puerto Rico  -66.473076  18.228131  North America
195              El Salvador  -88.871645  13.739437  North America
199  St. Pierre and Miquelon  -56.303198  46.919188  North America
207             Sint Maarten  -63.057134  18.050817  North America
210     Turks and Caicos Is.  -71.973879  21.830476  North America
218      Trinidad and Tobago  -61.265679  10.457334  North America
226            United States -112.461674  45.679547  North America
229       St. Vin. and Gren.  -61.201297  13.224723  North America
231       British Virgin Is.  -64.471470  18.525858  North America
232          U.S. Virgin Is.  -64.803015  17.955006  North America

## Assigning data
A constant value may be assigned to a column or iterable values

In [18]:
main_data['located'] = 'mainland'

In [19]:
main_data['located']

0      mainland
1      mainland
2      mainland
3      mainland
4      mainland
         ...
236    mainland
237    mainland
238    mainland
239    mainland
240    mainland
Name: located, Length: 241, dtype: object