# Pandas Python Library

In [2]:
import pandas as pd

Pandas is based on two core fundamentals **DataFrames and Series**.

## Dataframe

A **DataFrame** it's basically a matrix of data elements. Each entry corresponds to a row and a column.

In [3]:
# We may use the pd.DataFrame() constructor in order to create DataFrame objects i.e.
pd.DataFrame({'Bob':['I liked it', 'It was awful.'], 'Sue':['Pretty good.', 'Product B']}, index=['Product A', 'Product B'])
# The Dictionary-list pair is used in order to assign a column/row pair, and the index flag is used to substitute
# the auto generated 0,1,2,.. index with a known one.

                     Bob           Sue
Product A     I liked it  Pretty good.
Product B  It was awful.     Product B

## Series

A **series** is basically a list, as opposed of a dataframe being a matrix.

In [4]:
#i.e.
pd.Series([30, 45, 40, 35], index=['2015 Data', '2016 Data', '2017 Data', '2018 Data'], name = 'Product A Records')
# The index and name flags may also be used in the same way in Series

2015 Data    30
2016 Data    45
2017 Data    40
2018 Data    35
Name: Product A Records, dtype: int64

In order to **read already existing Dataframes** the .read_csv() pandas method must be used.

In [5]:
main_data = pd.read_csv('Categorical.csv')

In [6]:
# The shape() method may be used to check the dataframe size.
data.shape

NameError: name 'data' is not defined

In [ ]:
main_data.head()
# Head is extremely used in order to take a first look at the data, a number may also be passed into the function to print more rows

In [ ]:
# To write a DataFrame into the disk the to_csv() method is utilized.
# i.e. main_data.to_csv("testing_write.csv") Saving main_data dataframe as testing write in the current directory

# Inserting, Selecting and Assigning

In [ ]:
main_data

In [ ]:
# To access an attribute a simple selection can me made.
main_data.name

In [ ]:
# The same thing can be done with the Dictionary-Key built-in Python Function
main_data['name']

In [ ]:
main_data['name'][0]

## Pandas Indexing

## Index-Based Selection

In [ ]:
# Pandas has it's own index selection operators they're called loc and iloc. 
main_data.iloc[0] # To select the first row

In [ ]:
main_data.iloc[:,0] # To retrieve the full column

## Label-based Selection

In [ ]:
main_data.loc[0,'name']

## Manipulating the index

In [9]:
# The index may always be manipulated, here the title column will be used.
main_data.set_index('name')

               Longitude   Latitude      continent
name
Aruba         -69.982677  12.520880  North America
Afghanistan    66.004734  33.835231           Asia
Angola         17.537368 -12.293361         Africa
Anguilla      -63.064989  18.223959  North America
Albania        20.049834  41.142450         Europe
...                  ...        ...            ...
Samoa        -172.164851 -13.753243        Oceania
Yemen          47.586762  15.909280           Asia
South Africa   25.083901 -29.000341         Africa
Zambia         27.774759 -13.458242         Africa
Zimbabwe       29.851441 -19.004204         Africa

[241 rows x 3 columns]